In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.3.1'

In [3]:
pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [6]:
df.fuel_type.nunique()

2

In [7]:
df.fuel_efficiency_mpg.max()

np.float64(25.96722204888372)

In [8]:
max_value = df.fuel_efficiency_mpg.max()

In [9]:
print(max_value)

25.96722204888372

In [10]:
df[df['origin'] == 'Asia']

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,NaN,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [11]:
df[df['origin'] == 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [12]:
df1 = df[df['origin'] == 'Asia']

In [13]:
df1.fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [14]:
df.isnull()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9699,False,False,False,False,False,False,False,False,False,True,False
9700,False,True,False,False,False,False,False,False,False,False,False
9701,False,False,False,False,False,False,False,False,False,False,False
9702,False,False,False,False,False,False,False,False,False,False,False
9703,False,False,False,False,False,False,False,False,False,False,False

In [15]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [16]:
df.horsepower.median()

np.float64(149.0)

In [17]:
df.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [18]:
df['horsepower']= df['horsepower'].fillna(149.0);

In [19]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,149.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [20]:
df.horsepower.median()

np.float64(149.0)

In [21]:
df_new = df[df['origin'] == ['Asia']]

ValueError: ('Lengths must match to compare', (9704,), (1,))

In [22]:
df_new = df[df['origin'] == 'Asia']

In [23]:
df_new.vehicle_weight.model_year

AttributeError: 'Series' object has no attribute 'model_year'

In [24]:
df_new.vehicle_weight

8       2714.219310
12      2783.868974
14      3582.687368
20      2231.808142
21      2659.431451
           ...
9688    3948.404625
9692    3680.341381
9693    2545.070139
9698    3107.427820
9703    2908.043477
Name: vehicle_weight, Length: 3247, dtype: float64

In [25]:
weight = df_new.vehicle_weight

In [26]:
year = df_new.model_year

In [27]:
weight.head(7)

8     2714.219310
12    2783.868974
14    3582.687368
20    2231.808142
21    2659.431451
34    2844.227534
38    3761.994038
Name: vehicle_weight, dtype: float64

In [28]:
year.head(7)

8     2016
12    2010
14    2007
20    2011
21    2016
34    2014
38    2019
Name: model_year, dtype: int64

In [29]:
X = df_new.vehicle_weight.model_year.head(7)

AttributeError: 'Series' object has no attribute 'model_year'

In [30]:
X = df_new['vehicle_weight', 'model_year']]

SyntaxError: unmatched ']' (3860102516.py, line 1)

In [31]:
X = df_new['vehicle_weight', 'model_year']

KeyError: ('vehicle_weight', 'model_year')

In [34]:
X = df_new[['vehicle_weight', 'model_year']].head(7).values

In [35]:
X = df_new[['vehicle_weight', 'model_year']].head(7).values

In [36]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [37]:
XTX = (X.T)X

SyntaxError: invalid syntax (523217352.py, line 1)

In [38]:
XT= X.T

In [39]:
XTX = XTX

NameError: name 'XTX' is not defined

In [40]:
XTX = XT @ X

In [41]:
XTX_inv = pd.linalg.inv(XTX)

AttributeError: module 'pandas' has no attribute 'linalg'

In [42]:
import numpy as np

In [43]:
XTX_inv = pd.linalg.inv(XTX)

AttributeError: module 'pandas' has no attribute 'linalg'

In [44]:
XTX_inv = np.linalg.inv(XTX)

In [45]:
y = array([1100, 1300, 800, 900, 1000, 1100, 1200])

NameError: name 'array' is not defined

In [46]:
y = Array([1100, 1300, 800, 900, 1000, 1100, 1200])

NameError: name 'Array' is not defined

In [47]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [48]:
w = XTX @ XT @ y

In [49]:
w.sum()

np.float64(3298448781674858.5)

In [50]:
w = XTX_inv @ XT @ y

In [51]:
w.sum()

np.float64(0.5187709081074016)